.productCard {
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 2px;
  padding: 48px 48px 0 0;
  cursor: pointer;
}

.productCard::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 100%;
  background-color: var(--yellowish);
  z-index: 0;
  border-radius: 0 2px 2px 0;
  clip-path: polygon(0% 0%, 0 192px, 50% 176px, 100% 192px, 100% calc(100% - 44px), 50% calc(100% - 60px), 0 calc(100% - 44px), 0 100%, 100% 100%, 100% 0%);
}

.thumbnail {
  display: block;
  width: 100%;
}