.loader {
  box-sizing: border-box;
  position: relative;
  background-color: rgb(224, 224, 224);
  border-radius: 2px;
  padding-top: 42px;
  aspect-ratio: 10/11;
}

.loader::after {
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  background-image: linear-gradient(90deg, transparent 30%, rgba(255, 255, 255, 0.8) 50%, transparent 70%);
  background-size: 300% 100%;
  background-repeat: no-repeat;
  background-position: 300% 0;
  box-sizing: border-box;
  animation: animloader 1.5s linear infinite;
}

.skeletonTitle,
.skeletonRating,
.skeletonPrice,
.skeletonButton {
  position: absolute;
  background-color: rgb(245, 245, 245);
  border-radius: 2px;
}

.skeletonTitle {
  top: 16px;
  left: 16px;
  width: 70%;
  height: 32px;
}

.skeletonRating {
  top: 16px;
  right: 16px;
  width: 32px;
  height: 50%;
}

.skeletonButton {
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}

.skeletonPrice {
  bottom: 16px;
  left: 16px;
  width: 64px;
  height: 32px;
}

@keyframes animloader {
  from {
    background-position: 300% 0;
  }

  to {
    background-position: -300% 0;
  }
}