.itemCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  
}

.imgAndTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
}

.thumbnail {
  display: block;
  width: 128px;
  object-fit: cover;
}

.name {
  flex: 1;
  margin: auto 0;
  font-size: 20px;
  padding: 0px 44px 0px 0px;
}

.totalAndControls {
  display: flex;
  width: 100%;
  gap: 8px;
  padding: 8px 16px 8px 32px;
  background-color: var(--yellowish);
}

.total {
  flex: 1;
  margin: auto 0 7px;
  letter-spacing: 1px;
  text-indent: 1px;
}

.deleteButton {
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(-12%);
  border: none;
  background-color: transparent;
}

.trashIcon {
  display: block;
  width: 28px;
}

@media (max-width: 320px) {
  .name {
    padding-bottom: 8px;
  }
}

@media (min-width: 600px) {
  .deleteButton {
    position: absolute;
    right: 16px;
  }
}