.itemCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 8px 8px 12px;
  /* border-bottom: 8px solid var(--tealish); */
}

.imgAndTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 8px;
  padding-top: 8px;
}

.thumbnail {
  display: block;
  width: 128px;
  object-fit: cover;
}

.name {
  flex: 1;
  margin: auto 0;
  font-size: 20px;
  padding: 0px 44px 0px 0px;
}

.totalAndControls {
  display: flex;
  width: 100%;
  gap: 8px;
  padding: 8px 16px 4px 32px;
}

.total {
  flex: 1;
  margin: auto 0 7px;
  letter-spacing: 1px;
  text-indent: 1px;
}

.deleteButton {
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(-12%);
  border: none;
  background-color: transparent;
}

.trashIcon {
  display: block;
  width: 28px;
}

@media (min-width: 300px) {
  
}