.overlay {
  position: absolute;
  inset: 0;
}

.productTitle {
  padding: 12px 42px 12px 12px;
  font-size: 20px;
  letter-spacing: 1px;
  text-indent: 1px;
}

.priceLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: -8px;
}

.addButton {
  position: absolute;
  bottom: 8px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.addButton::after {
  content: "+";
  position: absolute;
  left: -16px;
  top: -16px;
  font-size: 32px;
  font-weight: 100;
  opacity: 0;
}

.addButton.animate::after {
  animation: slideFade 1s ease forwards;
  opacity: 1;
}

.addIcon {
  width: 28px;
}

@keyframes slideFade {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}