.homeMainOne {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}

.homeMainTwo {
  position: relative;
  height: calc(100% + var(--header-height));
}

@media (max-width: 1024px) and (orientation: landscape) {
  .homeMainOne {
    min-height: calc(100vmax - var(--header-height));
  }

  .homeMainTwo {
    min-height: calc(100vmax - var(--header-height));
  }
}

.homeMainTwoContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.carouselContainer {
  max-width: 100%;
}

.headingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  width: 100%;
  padding: 0 16px;
  height: calc(300px + clamp(32px, 15dvw, 52px));
  z-index: 1;
}

.headingContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--yellowish);
  z-index: -1;
  transform: skewY(-8deg) translateY(-8px);
}

.mainHeading {
  font-size: clamp(32px, 15dvw, 52px);
  letter-spacing: -1px;
  line-height: 0.9;
  word-spacing: 8px;
  color: black;
}

.subHeading {
  font-family: 'InputMono-Thin', monospace;
  font-size: clamp(18px, 5dvw, 22px);
  margin: 24px 8px 20px;
}

.shopLink {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 8px 4px;
  max-width: 140px;
  font-size: 18px;
  color: black;
  word-spacing: -4px;
  text-indent: 4px;
  border: 2px solid var(--tealish);
  border-radius: 2px;
  overflow: hidden;
  z-index: 111111;
}

.shopLink:focus-visible {
  outline: none;
}

.shopLink::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--tealish);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.shopLink:hover::after,
.shopLink:focus::after,
.shopLink:focus-visible::after {
  transform: scaleX(1);
}

.brandStatements {
  --phrase-width: clamp(290px, 80dvw, 400px);
  --box-width: clamp(145px, 40dvw, 200px);
  --font-size: clamp(40px, calc(9dvw), 50px);
  --phrase-offset: 16px;
  --box-offset: calc(var(--phrase-offset)/2);
  flex: 1;
  top: calc(100dvw);
  width: 100%;
  min-height: 275px;
}

.statementsSection {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.statementContainer {
  position: relative;
}

.boxOne,
.boxTwo {
  position: absolute;
  background-color: var(--yellowish);
  width: var(--box-width);
  height: calc(100% - 32px);
  border-radius: 2px;
  z-index: 2;
}

.boxOne {
  top: 50%;
  right: var(--box-offset);
  transform: translateY(-50%);
}

.boxTwo {
  top: 50%;
  left: var(--box-offset);
  transform: translateY(-50%);
}

.phraseOneBase,
.phraseTwoBase,
.phraseOneInverted,
.phraseTwoInverted {
  position: absolute;
  bottom: 50%;
  width: max-content;
  transform: translateY(50%);
  z-index: 3;
  font-size: var(--font-size);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
}

.phraseOneBase,
.phraseOneInverted {
  text-align: right;
  right: var(--phrase-offset);
}

.phraseTwoBase,
.phraseTwoInverted {
  text-align: left;
  left: var(--phrase-offset);
}

.phraseOneBase {
  color: #82d6d7;
  text-shadow: 0 0.03em 0.08em rgba(0, 0, 0, 0.12);
  clip-path: inset(0 0 0 calc(var(--phrase-width) - calc(var(--box-width) + var(--font-size) - var(--box-offset))));
}

.phraseOneInverted {
  color: var(--yellowish);
  text-shadow: 0 0.03em 0.08em rgba(0, 0, 0, 0.5);
  clip-path: inset(0 calc(var(--phrase-width) - calc(var(--box-width) + var(--box-offset))) 0 0);
}

.phraseTwoBase {
  color: #82d6d7;
  text-shadow: 0 0.03em 0.08em rgba(0, 0, 0, 0.12);
  clip-path: inset(0 calc(var(--phrase-width) - calc(var(--box-width) + var(--box-offset) + 12px)) 0 0);
}

.phraseTwoInverted {
  color: var(--yellowish);
  text-shadow: 0 0.03em 0.08em rgba(0, 0, 0, 0.5);
  clip-path: inset(0 0 0 calc(var(--phrase-width) - calc(var(--box-width) + var(--box-offset))));
}


@media (max-width: 370px) {
  .brandStatements {
    --font-size: clamp(32px, calc(10vw), 50px);
  }
}

@media (min-width: 600px) {
  .homeMainTwo {
    display: flex;
    align-items: center;
  }
  
  .boxOne,
  .boxTwo {
    box-shadow: 0 3px 7px -3px rgb(0, 0, 0, 0.5);
  }
}

@media (min-width: 1115px) {
  .headingContainer::after {
    box-shadow: 0 3px 7px -3px rgb(0, 0, 0, 0.5);
  }

  .carouselContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--yellowish);
    box-shadow: 0 3px 7px -3px rgb(0, 0, 0, 0.5);
  }

  .brandStatements {
    --phrase-width:
      clamp(290px, 40dvw, 500px);
    --box-width:
      clamp(145px, 20dvw, 250px);
    --font-size:
      clamp(32px, calc(4.5dvw), 64px);
    --phrase-offset: 32px;
  }

}