.homeMainOne {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
}

.homeMainTwo {
  height: calc(100% + 60.8px);
}

.headingContainer {
  text-align: center;
  padding: 15% 8px;
  background-color: var(--yellowish);
  transform: skew(0, -15deg);
  box-shadow: 0 3px 15px -3px rgb(0, 0, 0, 0.5);
}

.mainHeading {
  font-size: 52px;
  letter-spacing: -1px;
  line-height: 0.9;
  word-spacing: 8px;
  color: black;
  transform: skew(0, 15deg) translateY(6px);
}

.shopLink {
  position: relative;
  display: block;
  margin: 32px auto 0;
  padding: 8px 4px;
  max-width: 140px;
  font-size: 18px;
  transform: skew(0, 15deg);
  color: black;
  word-spacing: -4px;
  text-indent: 4px;
  border: 2px solid var(--tealish);
  border-radius: 2px;
  overflow: hidden;
}

.shopLink:focus-visible {
  outline: none;
}

.shopLink::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--tealish);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.shopLink:hover::after,
.shopLink:focus::after,
.shopLink:focus-visible::after {
  transform: scaleX(1);
}