.addToCartForm {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 8px 8px;
  background-color: var(--yellowish);
}

.submitToCart {
  position: relative;
  font-weight: 600;
  display: block;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 18px;
  color: black;
  word-spacing: -4px;
  text-indent: 4px;
  border: 2px solid var(--tealish);
  border-radius: 2px;
  overflow: visible;
  z-index: 1;
}

.submitToCart:focus-visible {
  outline: none;
}

.submitToCart::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--tealish);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.submitToCart:hover::after,
.submitToCart:focus::after,
.submitToCart:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.2s ease;
}

.submitToCart:disabled {
  color: rgb(0, 0, 0, 0.6);
}

.submitToCart::before {
  content: "+";
  position: absolute;
  left: -20px;
  top: -20px;
  font-size: 32px;
  font-weight: 100;
  opacity: 0;
  z-index: 999999;
}

.submitToCart.animate::before {
  animation: slide-fade 1s ease-out forwards;
  opacity: 1;
}

@keyframes slide-fade {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}