.addToCartForm {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 8px 8px;
  background-color: var(--yellowish);
}

.submitToCart {
  position: relative;
  font-weight: 600;
  display: block;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 18px;
  color: black;
  word-spacing: -4px;
  text-indent: 4px;
  border: 2px solid var(--tealish);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.submitToCart:focus-visible {
  outline: none;
}

.submitToCart::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--tealish);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.submitToCart:hover::after,
.submitToCart:focus::after,
.submitToCart:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.2s ease;
}

.submitToCart:active::after {
  transform: scaleX(0);
  transition: transform 0.2s ease;
}