.addToCartForm {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 6px 8px;
}

.submitToCart {
  font-weight: 600;
  background-color: transparent;
  border: 2px solid var(--tealish);
  border-radius: 2px;
  padding: 8px 12px;
}