.overlay {
  position: absolute;
  inset: 0;
}

.productTitle {
  padding: 12px 42px 12px 12px;
  font-size: 16px;
}

.priceLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: -8px;
}

.addButton {
  position: absolute;
  bottom: 8px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.addIcon {
  width: 28px;
}