.halfOne {
  font-weight: 100;
  color: white;
}

.halfTwo {
  font-weight: 600;
  color: var(--yellowish);
}

.header {
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: var(--dark-grey-tl);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

nav {
  display: flex;
  column-gap: 16px;
}

.cartLink {
  position: relative;
  display: flex;
  align-items: center;
  order: 1;
}

.cartIcon {
  width: 28px;
  filter: invert(1);
  transform: translateY(-2px);
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  order: 2;
}

.navIcon {
  display: block;
  filter: invert(1);
  width: 36px;
  height: 24px;
}

.navListContainer {
  position: absolute;
  right: 0;
  bottom: -84px;
  height: 84px;
  width: calc(76px + 16px + 16px);
  overflow: hidden;
}

.navListHidden,
.navListShown {
  position: absolute;
  list-style: none;
  padding: 0;
  right: 0;
  bottom: 84px;
  width: calc(76px + 16px + 16px);
  border-radius: 0 0 0 4px;
  background-color: var(--dark-grey-tl);
}

.navListHidden {
  visibility: hidden;
  transform: translateY(0);
  transition: transform 0.2s ease-out, visibility 0s linear 0.2s;
}

.navListShown {
  visibility: visible;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
}

.navLink {
  display: block;
  width: 100%;
  height: 42px;
  padding: 12px 0;
  text-align: center;
  color: white;
}

@media (min-width: 600px) {
  nav {
    column-gap: 24px;
  }

  .cartLink {
    order: 2;
  }

  .btn {
    display: none;
  }

  .navListContainer {
    position: relative;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    overflow: visible;
  }

  .navListHidden {
    visibility: visible;
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    bottom: 0;
    background-color: transparent;
    order: 1;
    column-gap: 24px;
    justify-content: space-between;
    transform: none;
    transition: none;
    pointer-events: auto;
  }

  .navItem {
    display: flex;
    align-items: center;
  }

  .navItem:first-child {
    padding-bottom: 0;
  }

  .navLink {
    display: flex;
    width: 100%;
    height: 36.8px;
    padding: 0;
    text-align: center;
    align-items: center;
  }
}

.cartQuantity {
  display: grid;
  font-family: 'Gilroy', sans-serif;
  font-size: 11px;
  position: absolute;
  right: -8px;
  bottom: 0;
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-left: 1px;
  place-content: center;
  background-color: white;
  border-radius: 100%;
}