.headerHeading {
  font-size: var(--header-heading-height);
}

.halfOne {
  font-weight: 100;
  color: black;
}

.halfTwo {
  font-weight: 600;
  color: #82d6d7;
  text-shadow: 0 0.03em 0.08em rgba(0, 0, 0, 0.12);

}

.header {
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: var(--yellowish);
  /* background-color: var(--dark-grey-tl); */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

nav {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.cartLink {
  position: relative;
  display: flex;
  align-items: center;
  order: 1;
}

.cartIcon {
  width: 28px;
  /* filter: invert(1); */
  transform: translateY(-2px);
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  order: 2;
}

.navIcon {
  display: block;
  /* filter: invert(1); */
  width: 36px;
  height: 24px;
}

.navListContainer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -84px;
  height: 84px;
  width: calc(76px + 16px + 16px);
  overflow: hidden;
}

.navListHidden,
.navListShown {
  position: absolute;
  list-style: none;
  padding: 0;
  right: 0;
  bottom: 84px;
  width: calc(76px + 16px + 16px);
  border-radius: 0 0 0 4px;
  background-color: var(--yellowish);
}

.navListHidden {
  visibility: hidden;
  transform: translateY(0);
  transition: transform 0.2s ease-out, visibility 0s linear 0.2s;
}

.navListShown {
  visibility: visible;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
}

.navLink {
  display: block;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  color: black;
}

@media (min-width: 600px) {
  .header {
    padding: 12px 24px 12px 16px;
  }

  nav {
    width: 100%;
    justify-content: space-between;
  }

  .cartLink {
    max-height: 37px;
    order: 2;
  }

  .btn {
    display: none;
  }

  .navListContainer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .navListHidden {
    visibility: visible;
    display: flex;
    position: relative;
    list-style: none;
    font-size: 22px;
    width: 100%;
    padding: 0;
    bottom: 0;
    background-color: transparent;
    order: 1;
    justify-content: flex-end;
    transform: none;
    transition: none;
    pointer-events: auto;
    transform: translateY(1px);
  }

  .navItem {
    display: flex;
    align-items: center;
  }

  .navItem:first-child {
    padding-bottom: 0;
  }

  .navLink {
    width: 100%;
    padding: 16px;
    text-align: center;
    margin: auto
  }
}

.cartQuantity {
  display: grid;
  font-family: 'Gilroy', sans-serif;
  font-size: 11px;
  position: absolute;
  right: -8px;
  bottom: -6px;
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-left: 1px;
  place-content: center;
  background-color: black;
  color: white;
  border-radius: 100%;
}