.carousel {
  position: relative;
  overflow: hidden;
  background-color: var(--yellowish);
  box-shadow: 0 3px 15px -3px rgb(0, 0, 0, 0.5);
}

.carouselSection {
  aspect-ratio: 1/1;
}

.view {
  position: absolute;
  inset: 0;
}

.imageList {
  display: flex;
}

.carouselItem {
  min-width: 100%;
}

.carouselImage {
  display: block;
  width: 100%;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 4px;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.prevArrow,
.nextArrow {
  width: 24px;
}

.prevArrow {
  transform: rotate(90deg) scaleX(1.6);
}

.nextArrow {
  transform: rotate(-90deg) scaleX(1.6);
}

.goToButtonsContainer {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  column-gap: 32px;
}

.goToButtonWrapper {
  border: 1px solid black;
  border-radius: 100%;
}

.goToButtonWrapper:has(.goToButton:focus-visible, .goToButtonCurrent:focus-visible) {
  transform: scale(1.3);
  outline: none;
}

.goToButton,
.goToButtonCurrent {
  display: block;
  background-color: black;
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 100%;
}

.goToButton:focus-visible,
.goToButtonCurrent:focus-visible {
  outline: none;
}

.goToButton {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.goToButtonCurrent {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.emptyMsg {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}