.carousel {
  position: relative;
  overflow: hidden;
  background-color: var(--yellowish);
}

.label {
  position: absolute;
  font-weight: 600;
  background-color: var(--tealish);
  width: 72px;
  height: 72px;
  text-align: center;
  padding: 8px;
  left: 8px;
  top: 8px;
  border-radius: 100%;
  z-index: 1;
}

.textWrap {
  position: absolute;
  font-size: 18px;
  letter-spacing: 1px;
  text-indent: 1px;
  transform: translate(-5px, 4px) rotate(-12deg);
}

.view {
  position: absolute;
  inset: 0;
}

.imageList {
  display: flex;
}

.carouselItem {
  min-width: 100%;
}

.carouselImage {
  display: block;
  margin: 0 auto;
  width: clamp(300px, 100%, 400px);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 4px;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.prevArrow,
.nextArrow {
  width: 24px;
}

.prevArrow {
  transform: rotate(90deg) scaleX(1.6);
}

.nextArrow {
  transform: rotate(-90deg) scaleX(1.6);
}

.goToButtonsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  column-gap: 32px;
  width: 100%;
  height: 44px;
  padding: 8px;
}

.goToButtonWrapper {
  border-radius: 100%;
}

.goToButtonWrapper:has(.goToButton:focus-visible, .goToButtonCurrent:focus-visible) {
  transform: scale(1.3);
  outline: none;
}

.goToButton,
.goToButtonCurrent {
  display: block;
  background-color: black;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 100%;
}

.goToButton:focus-visible,
.goToButtonCurrent:focus-visible {
  outline: none;
}

.goToButton {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.goToButtonCurrent {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.emptyMsg {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  .carousel {
    background-color: transparent;
  }
}