.cartSummary {
  background-color: white;
  padding: 16px 40px;
  margin: 8px 16px 0;
}

.summaryHeading {
  font-size: 22px;
}

.summarySubList {
  width: fit-content;
  margin-left: auto;
}

.summaryContentHeading {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 4px;
}

.summaryContent {
  white-space: nowrap;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .cartSummary {
    position: sticky;
    top: 8px;
    margin: 0;
    height: fit-content;
    width: fit-content;
  }

  .summarySubList {
    margin-left: 16px;
  }
}