.cartSummary {
  background-color: white;
  padding: 16px 40px;
}

.summaryHeading {
  font-size: 22px;
}

.summarySubList {
  width: fit-content;
  margin-left: auto;
}

.summaryContentHeading {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 4px;
}

