.carousel {
  position: relative;
  overflow: hidden;
  background: transparent;
  box-shadow: none;
  padding-bottom: 34px;
  width: 100%;
}

.view {
  position: absolute;
  inset: 0;
}

.imageList {
  display: flex;
}

.carouselItem {
  min-width: 100%;
}

.carouselImage {
  display: block;
  width: 100%;
}

.goToButtonsContainer {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  column-gap: 32px;
}

.goToButtonWrapper {
  background-color: rgb(0,0,0,0.3);
  border-radius: 100%;
}

.goToButtonWrapper:has(.goToButton:focus-visible, .goToButtonCurrent:focus-visible) {
  transform: scale(1.3);
  outline: none;
}

.goToButton,
.goToButtonCurrent {
  display: block;
  background-color: black;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 100%;
}

.goToButton:focus-visible,
.goToButtonCurrent:focus-visible {
  outline: none;
}

.goToButton {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.goToButtonCurrent {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.emptyMsg {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}