.modalBackdrop {
  position: fixed;
  inset: 0;
  z-index: 9998;
  background-color: rgb(0, 0, 0, 0.5);
}

.modalCard {
  position: fixed;
  z-index: 9999;
  background-color: white;
  inset: 16px;
  border-radius: 2px;
  overflow-y: auto;
  max-width: 600px;
  overscroll-behavior: contain;
  padding-bottom: 32px;
  margin: auto;
  animation: unfold 0.4s ease-out;
}

.productName {
  font-size: 22px;
  padding: 16px 56px 0 20px;
  min-height: 48px;
  letter-spacing: 1px;
  text-indent: 1px;
}

.closeButton {
  position: absolute;
  right: 13px;
  top: 13px;
  border: none;
  background-color: transparent;
}

.closeIcon {
  display: block;
  width: 26px;
  transform: rotate(45deg);
}

.section {
  padding: 16px 20px 0;
}

.ratingContainer {
  position: absolute;
  width: fit-content;
  padding: 16px 0 0 18px;
}

.priceContainer {
  position: absolute;
  top: var(--carousel-image-width);
  right: 16px;
  font-weight: 600;
  font-size: 18px;
  transform: translateY(100%);
}

.sectionHeading {
  font-size: 20px;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.bodyText {
  font-weight: 600;
  line-height: 1.5;
}

@keyframes unfold {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}