@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InputMono';
  src: url('./InputMono-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'InputMono-Thin';
  src: url('/InputMono-Thin.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellowish: #effc5b;
  --tealish: #90e0e1;
  --dark-grey: #222222;
  --dark-grey-tl: #22222277;
  --header-heading-height: clamp(32px, 9dvw, 52px);
  --header-height: calc(var(--header-heading-height) + 30px);
  --carousel-image-width: clamp(270px, 100dvw, 400px);
  font-family: 'InputMono-Thin', monospace;
}

html,
body {
  height: fit-content;
  background-color: var(--tealish);
}

h1,
h2,
h3 {
  font-family: 'Gilroy', sans-serif;
  margin: 0;
}

a {
  text-decoration-line: none;
  font-weight: 600;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

button:active,
a:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-out;
}
