@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InputMono';
  src: url('./InputMono-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'InputMono-Thin';
  src: url('/InputMono-Thin.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellowish: #effc5b;
  --tealish: #90e0e1;
  --dark-grey: #222222;
  --dark-grey-tl: #22222277;
  --header-heading-height: clamp(32px, 9dvw, 52px);
  --header-height: calc(var(--header-heading-height) + 30px);
  font-family: 'InputMono-Thin', monospace;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

main {
  height: calc(100% - var(--header-height));
  overflow-y: visible;
}

h1, h2, h3 {
  font-family: 'Gilroy', sans-serif;
  margin: 0;
}

a {
  text-decoration-line: none;
  font-weight: 600;
}

ul,
li {
  list-style: none;
  padding: 0;
}

@media (hover: hover) and (pointer: fine) {}