.shopHeading {
  padding: 12px 16px 16px;
  font-size: 20px;
  letter-spacing: 2px;
  text-indent: 2px;
  font-weight: 100;
}

.productListSection {
  padding-bottom: 32px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 90%));
  width: 100%;
  justify-content: center;
  gap: 32px;
}

@media (min-width: 500px) {
  .productList {
    grid-template-columns: repeat(2, minmax(250px, 45%));
  }
}